{% load staticfiles %}

{% block fehler %}
<head>
    <style>

    </style>
</head>

    <div class="container thumbnail" style="margin-top:-420px; max-width:300px; margin-bottom:250px; margin-right:10%; background-color:transparent; border:none;">
        <img src="{% static 'img/infoFirma2.0.png' %}" />
    </div>
<div class="container thumbnail" style="background-color:transparent; border:none; margin-top:-140px;">

    <div class="container thumbnail hidden-xs hidden-sm logo" style="max-width:150px; background-color:transparent; border:none; float:left; ">
        <a href="{% url 'reinigung' %}"><img src="{% static 'img/Reinigungsunternehmen.png' %}" style="max-erwidth:165px;" /></a>
    </div>
    <div class="container thumbnail hidden-xs hidden-sm logo" style="max-width:200px; background-color:transparent; border:none; float:left;">
         <a href="{% url 'maler' %}"><img src="{% static 'img/Malerfirmen.png' %}" style="max-width:100px;" /></a>
    </div>
    <div class="container thumbnail hidden-xs hidden-sm logo" style="max-width:200px; background-color:transparent; border:none; float:left;">
         <a href="{% url 'umzug' %}"><img src="{% static 'img/Umzugsunternehmen8.png' %}" style="max-width:355px;" /></a>
    </div>
</div>
{% endblock %}
