{% load staticfiles %}
<div class="row" style="border:none; max-width:800px; margin-right:auto; margin-left:auto;">
   <div class="col-xs-4 thumbnail nav_icons_deco" style="border:none; background:transparent;">

          <div class="thumbnail" style="border:none; background:transparent;">
            <img src="{% static 'img/suche.png' %}" class="responsive pic" style="width:45%; height:45%;">
          </div>

            <h4><strong>Firmen in der Region finden</strong></h4>

   </div>

    <div class="col-xs-4 thumbnail nav_icons_deco" style="border:none; background:transparent;">

        <div class="thumbnail" style="border:none; background:transparent;">
            <img src="{% static 'img/vergleichen.png' %}" class="responsive pic" style="width:50%; height:50%;">
        </div>
            <h4><strong>Kontaktieren</strong></h4>
    </div>

    <div class="col-xs-4 thumbnail nav_icons_deco" style="border:none; background:transparent;">

       <div class="thumbnail" style="border:none; background:transparent;">
                <img src="{% static 'img/kontakt.png' %}" class="responsive pic" style="width:40%; height:40%;">
       </div>
            <h4><strong>Angebote vergleichen</strong></h4>
    </div>
</div>
