{% load staticfiles %}
<div class="container">
    <div class="row element">
        <div class="col-sm-2 col-xs-4 col-md-1 thumbnail nav_icons_deco" style="border:none;">
            <a href="{% url 'index' %}" class="nav_icons_deco">
                Umzug<img src="{% static 'img/Umzug.png' %}" class="search-icon">
            </a>
        </div>
      <div class="col-sm-2 col-xs-4 col-md-1 thumbnail nav_icons_deco" style="border:none;">
          <a href="{% url 'reinigung' %}" class="nav_icons_deco">
              Reinigung<img src="{% static 'img/Reinigung.png' %}" class="search-icon">
          </a>
      </div>
        <div class="col-sm-2 col-xs-4 col-md-1 thumbnail nav_icons_deco" style="border:none;">
          <a href="{% url 'maler' %}" class="nav_icons_deco">
                    Maler<img src="{% static 'img/Maler2.png' %}" class="search-icon">
          </a>
        </div>

          <div class="col-sm-2 col-xs-4 col-md-1 thumbnail nav_icons_deco" style="border:none;">
                <a href="{% url 'catering' %}" class="nav_icons_deco">
                    Catering<img src="{% static 'img/Catering.png' %}" class="search-icon">
                </a>
            </div>
         <div class="col-xs-4 col-sm-2 col-md-1 thumbnail nav_icons_deco" style="border:none;">
                <a href="{% url 'schreiner' %}" class="nav_icons_deco">
                    Schreiner<img src="{% static 'img/schreiner.png' %}" class="search-icon">
                </a>
        </div>
         <div class="col-xs-4 col-sm-2 col-md-1 thumbnail nav_icons_deco" style="border:none;">
           <a href="{% url 'architekt' %}" class="nav_icons_deco">
                    Architekt<img src="{% static 'img/architekt.png' %}" class="search-icon">
                </a>
         </div>
         <div class="col-sm-2 col-xs-4 col-md-1 thumbnail nav_icons_deco" style="border:none;">
            <a href="{% url 'baufirma' %}" class="nav_icons_deco">
                    Baufirmen <img src="{% static 'img/Baufirmen2.png' %}" class="search-icon">
                </a>
         </div>
         <div class="col-sm-2 col-xs-4 col-md-1 thumbnail nav_icons_deco" style="border:none;">
                 <a href="{% url 'immobilien' %}" class="nav_icons_deco">
                    Immobilien <img src="{% static 'img/immobilien.png' %}" class="search-icon">
                </a>
        </div>
        <div class="col-sm-2 col-xs-4 col-md-1 thumbnail nav_icons_deco" style="border:none;">
                 <a href="{% url 'gartenbau' %}" class="nav_icons_deco">
                    Gartenbau <img src="{% static 'img/gartenbau.png' %}" class="search-icon">
                </a>
        </div>
        <div class="col-sm-2 col-xs-4 col-md-1 thumbnail nav_icons_deco" style="border:none;">
                 <a href="{% url 'sanitaer' %}" class="nav_icons_deco">
                    Sanitär <img src="{% static 'img/sanitary.png' %}" class="search-icon">
                </a>
        </div>
    </div>
</div>
