{% load staticfiles %}
<div class="thumbnail" id="bimg">
    <div  class="container">
        <div style="max-width:450px; margin-top:150px; margin-right:auto; margin-left:auto;">
                <form action="" method="POST">{% csrf_token %}
                    <select class="form-control" name="select">
                        <div class="nav navbar-nav hidden-xs">
                            <option value="X" selected="selected">
                               Branche auswählen:
                            </option>
                            <option value="Umzug">
                                Umzug
                            </option>

                            <option value="Reinigung">
                                Reinigung
                            </option>

                            <option value="Maler">
                                Maler
                            </option>

                            <option value="Catering">
                                Catering
                            </option>
                            <option value="Schreiner">
                                Schreiner
                            </option>
                            <option value="Architekt">
                                Architekt
                            </option>
                            <option value="Gartenbau">
                                Gartenbau
                            </option>

                            <option value="Sanitaer">
                                Sanitär
                            </option>

                            <option value="Baufirma">
                                Baufirma
                            </option>

                            <option value="Immobilien">
                                Immobilien
                            </option>
                        </div>
                    </select>
                        <input type="text" name="query" class="form-control" placeholder="8000" style="height:50px;">
                        <button type="submit" class="form-control" class="button" style="background-color:#2F4F4F; color:white; height:50px; border:none;">Suchen</button>
                </form>
        </div>
    </div>
</div>