{% load staticfiles %}
<div class="thumbnail" id="bimg">
    <div  class="container">
        <div style="max-width:450px; margin-top:150px; margin-right:auto; margin-left:auto;">

        <select class="form-control">
            <div class="nav navbar-nav hidden-xs">
                <option value="Umzug">
                    Umzug/Transport <!--<img src="{% static 'img/Umzug.png' %}" class="search-icon">-->
                </option>

                <option value="Reinigung">
                    Reinigung <!--<img src="{% static 'img/Umzug.png' %}" class="search-icon">-->
                </option>

                <option value="Maler">
                    Maler <!--<img src="{% static 'img/Umzug.png' %}" class="search-icon">-->
                </option>

                <option value="Catering">
                    Catering <!--<img src="{% static 'img/Umzug.png' %}" class="search-icon">-->
                </option>

               <option value="Treuhand">
                    Treuhand <!--<img src="{% static 'img/Umzug.png' %}" class="search-icon">-->
                </option>

                <option value="Buchhaltung">
                    Buchhaltung <!--<img src="{% static 'img/Umzug.png' %}" class="search-icon">-->
                </option>

                <option value="Baufirma">
                    Baufirma <!--<img src="{% static 'img/Umzug.png' %}" class="search-icon">-->
                </option>

                <option value="Immobilien">
                    Immobilien <!--<img src="{% static 'img/Umzug.png' %}" class="search-icon">-->
                </option>
        </select>

            <input type="text" class="form-control" placeholder="8000" style="height:50px;">
            <button type="button" class="form-control" class="button" style="background-color:#2F4F4F; color:white; height:50px; border:none;">Suchen</button>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
